body {
  background-color: rgb(255, 255, 255);
}

.toDoList {
  color: rgb(0, 0, 0);
  border: 1px solid black;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.426));
  background-color: white;
  width: 500px;
}

.addPlaceHolder {
  display: flex;
  border: none;
  font-size: 15px;
  margin: 10px;
  font-style: italic;
}

.todayHead {
  display: flex;
  border-bottom: 1px solid rgb(211, 211, 211);
  width: 100%;
  padding: 10px;
  inline-size: 96%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.oneTask {
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
  align-items: center;
  border-top: 1px solid rgb(211, 211, 211);
  justify-content: flex-end;
}

.oneTaskID {
  display: flex;
  flex-direction: column;
}

p {
  width: max-content;
}

ul {
  list-style: none;
  padding: 0;
}

input[type='checkbox'] {
  margin: 10px;
}

#indexNum {
  display: none;
}

.clearAll {
  display: flex;
  background-color: #f6f6f6;
  font-size: 20px;
  color: #a2a2a2;
  height: 50px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.threeDots {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('./3-vertical-dots-icon.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  margin: 20px;
}
